PORT=4000
FRONTEND_URL=http://localhost:4000

# Ngrok Configuration
# Get your auth token from https://dashboard.ngrok.com
NGROK_AUTH_TOKEN=

# GOOGLE API
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=
GOOGLE_REDIRECT_URI=